<div class="flex flex-col  gap-4">
  <%= @user.username %>
  <%= live_redirect(to: Routes.client_spotify_playlist_add_playlist_path(@socket, :index, @user.username)) do %>
    <button class="bg-white">
      Add  A Spotify playlist link
    </button>
  <% end %>

  <button class="bg-white" phx-click="mixtape">
    Pick songs to make a playlist
  </button>
</div>
