<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={csrf_token_value()} />
    <%= live_title_tag(assigns[:page_title] || "LipiaNgoma", suffix: " · Phoenix Framework") %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/app.js")}
    >
    </script>
  </head>
  <body>
    <div class="h-[100vh] w-[100%] bg-gradient-to-tr from-[#CF3030] to-[#430E81] flex justify-between items-center flex-col  ">
      <div class="h-[10vh]">
        <%= render("_user_menu.html", assigns) %>
      </div>
      <div class="w-[100%]  h-[80vh]">
        <%= @inner_content %>
      </div>

      <div class="h-[10vh] bg-[#444344]/60 w-[100%] flex justify-between items-center px-16 rounded-t-3xl">
        <%= link to: Routes.page_index_path(@conn , :index, @user.username), class: "flex flex-col items-center justify-center " do %>
          <img src="/images/home.png" class="h-[32px] w-[32px] object-contain" />

          <p class="text-white">
            Home
          </p>
        <% end %>

        <%= link to: Routes.page_index_path(@conn , :index, @user.username), class: "flex flex-col items-center justify-center " do %>
          <img src="/images/line.png" class="h-[28px] w-[28px] object-contain" />

          <p class="text-white">
            Queue
          </p>
        <% end %>
      </div>
    </div>
  </body>
</html>
